.program-filter-tabs a.active {
  background-color: #676767;
  color: #fff;
}

.program-filter-tabs a {
  background-color: #FFF;
  color: #676767;
  border-top: 5px solid #676767;
  font-size: 20px;
  width: 22%;
  padding: 1%;
  margin-right: 1%;
}

.program-filter-tabs .degree-search {
  background-color: #FFF;
  border-top: 5px solid #676767;
  display: inline-block;
  width: 22%;
  padding: 1%;
}

.program-filter-tabs .degree-search input {
  height: 100%;
  width: 100%;
  background-color: #676767;
  border: medium none;
  padding-left: 5px;
}

.program-filter-tabs .degree-search ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  padding-left: 5px;
}
.program-filter-tabs .degree-search ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  padding-left: 5px;
}
.program-filter-tabs .degree-search :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  padding-left: 5px;
}
.program-filter-tabs .degree-search :-moz-placeholder { /* Firefox 18- */
  color: #fff;
  padding-left: 5px;
}

.program-filter-tabs {
  display: flex;
}

.program-filter-filter .active {
  display: block;
}

.program-filter-filter .inactive {
  display: none;
}

.filter-col {
  width: 14.666%;
  display: inline-block;
  padding: 2%;
}

.filter-col input {
  margin-right: 5px;
  display: inline-block;
}

.filter-col label{
  display: inline-block;
}

.program-listing {
  padding: 1%;
  margin-right: 1%;
  background-color: #216fa2;
  display: inline-block;
  min-height: 150px;
  color: #fff;
  vertical-align: top;
  position: relative;
  transform: scale(.9);
  transition: transform .5s linear; 
  position: relative;
}

.program-listing.column-4 {
  width: 22%;
}

.program-listing.column-3 {
  width: 30%;
}

.program-listing.column-2 {
  width: 47%;
}

.program-listing.column-1 {
  width: 98%;
}

.program-listing:hover {
  transform: scale(1);
  transition: transform .3s linear; 
}

.program-listing.selected {
  transform: scale(1);
  transition: transform .3s linear;
}

.program-listing h2 {
  color: #fff;
}

.program-listing.selected:after {
    content: " ";
    position: absolute;
    bottom: -13px;
    left: 50%;
    margin-left: -7px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    width: 0;
    height: 0;
    z-index: 9999;
    border-top: 14px solid #216fa2;
}

.program-listing .info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: lightblue;
  text-align: center;
  font-size: 20px;
  font-family: serif;
}

.program-display {
  background: #fff;
  margin: 20px 0;
  padding: 5px 20px 20px;
  transition: all 800ms linear;
}

.pd-image,
.pd-body {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.pd-body {
  padding: 0 20px;
}

.filtered-by {
  background-color: #fff;
  padding: 7px;
  display: inline-block;
  color: #656565;
}

.current-filters {
  display: inline-block;
  padding: 2px 5px;
  margin: 0 5px;
  background-color: #efefef;
  color: #656565;
}

.current-filters:last-child {
  margin-right: 0;
}

.ajax-loader {
    background: url(../images/ajax-loader.gif) no-repeat scroll center center transparent;
    height: 60px;
    padding: 30px;
}

/* transitions */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.example-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.slide-appear {
  opacity    : 0;
  transition : opacity .7s ease-in;
}

.slide-appear.slide-appear-active {
  opacity : 1;
}

.slide-enter {
  max-height : 0;
  transition : all .3s ease-in;
}

.slide-enter.slide-enter-active {
  max-height : 1000px;
}

.slide-leave {
  max-height : 1000px;
  transition : all .3s ease-out;
}

.slide-leave.slide-leave-active {
  max-height : 0;
}

.program-display-enter {
  opacity: 0.01;
  max-height: 0;
}

.program-display-enter.program-display-enter-active {
  opacity: 1;
  transition: all 800ms linear;
  max-height: 500px;
}

.program-display-leave {
  opacity: 1;
  max-height: 500px;
}

.program-display-leave.program-display-leave-active {
  opacity: 0.01;
  transition: all 800ms linear;
  max-height: 0;
}